.body-container {
  margin-left: 0;
}

.content{
  margin-left: 30px;
}

.title-header p {
  font-size: 24px;
}

.ioa-portal{
  margin-left: 0;
  height: 254px;
  display: table;
  width: auto;
  margin: 35px auto 40px;
}

.ioa-portal a{
  display: table-cell;
  vertical-align: middle;
}

.choose-destination {
  padding: 25px 0;
  clear: both;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

.ioa-portal {
  border: 1px solid #ccc;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: 10px;
  padding: 40px;
  width: 100%;
  text-align: center;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.ioa-portal:hover {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.43);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.43);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.43);
  outline: none !important;
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

/************* Portal Content *************/

.portal-icon {
  display: block;
  font-size: 100px;
  margin-bottom: 40px;
}

.portal-content {
  border: 1px solid #ccc;
  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: 10px;
  padding: 40px;
  width: 100%;
  text-align: center;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

.portal-content:hover {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.43);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.43);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.43);
  outline: none !important;
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.portal-txt {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.dark-blue {
  color: #446d8c;
}

.orange {
  color: #e87969;
}

.light-blue {
  color: #0e91ad;
}

.green {
  color: #8cd256;
}

/************* Animation *************/

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
